//color
$transparent: "transparent";
$black: #333333;
$white: #ffffff;
$pink: #f29bb8;

//fontSize
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;

//fontFamily
$fontFamily-sans: Open Sans, Helvetica Neue, Helvetica, mplus-1p, Hiragino Kaku Gothic Pro, Osaka, Meiryo, sans-serif;

// SIZE
$breakPoint: 769;

//borderRadius
$borderRadius: 8px;

//boxShadow
$boxShadow: 1px 1px 4px rgb(0 0 0 / 30%);
